@charset "utf-8";
/* CSS Document */
html, body {
    height: 100%;
}
body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #ffffff;
    font-size: 10px;
}

@media (min-width: 576px) {
body {
    font-size: 14px;
}
}
.content {
    min-height: 70vh;
}
.awards {
    max-width: 350px;
    height: auto;
     margin: 2em auto; 
}
.login {
    width: 100%;
    max-width: 350px;
    margin:2em auto;
}
.login h3 {
    background-color: #24487D;
    padding: 5px 10px;
    color: #fff;
    display: block;
    font-size: 1.5em;
}
#login-form {
    padding: 0px 15px;
}
.input-group {
    margin: 5px 0;
}
.form-control {
    border: 0px solid #ced4da;
    border-radius: 0;
    font-size: 1em;
    padding: 10px;
    height: auto;
        background-clip: unset;
        margin-bottom:5px !important;
}
.login-button {
    border: 0;
    background-color: #fefefe;
    color: #323c8d;
    border-radius: 0;
    margin-top: 20px;
}
.login-button:hover {
background-color: #578ac7;
    color: #fdfdfd;
}

#login-message, #ques-message {
    padding: 5px 10px;
}
.login-info {
    background-color: #578ac7;
    padding: 10px 0;
    color: #fff;
}
a.logout {
    color: #dee2e6;
    margin-right: 10px;
}
.btn-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
    background-color: #24487D;
    border: 0;
}
.links {
    color: #fff;
}
.links a {
    color: #fff;
}
#ques_count {
    display: inline-block;
}
#ques_update {
    color: #cc0000;
}
.header .col-12 {
    padding: 0;
}
